

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1.3rem;
    padding-left: 8%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-top: 3%;
    padding-right: 5%;
    
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
}

/* .logo {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
} */

.navbar1 a {
    color: white;
    text-decoration: none;
    margin-right: 2.5rem;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar1 a:hover {
    text-decoration: underline;
}

.navbar1 {
    position: relative;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    font-size: 40px;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
}

#menu-icon {
  font-size: 30px;
}

.navbar1 .linkedIn img{
    display: none;
}

@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
        padding-top: 7%;
    }
}

@media (max-width: 860px){

    .header {
        padding-left: 15px;
    }

    .navbar1 .linkedIn img {
        width: 50px; /* Ändere die Breite nach deinen Wünschen */
        height: 50px; /* Ändere die Höhe nach deinen Wünschen */
        margin-top: 8%;
        display: block;
    }
    
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
        color: black;
        z-index: 1001;
    }

    .navbar1{
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        overflow: hidden;
        transition: .3s ease;
        
    }

    #check:checked~.navbar1 {
        height: 110vh;
        background-color: white;
        z-index: 1000;
    }

    .navbar1 a {
        display: block;
        font-size: 30px;
        margin: 1.5rem 0;
        margin-left: 10%;
        text-align: left;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
        color: black;
    }

    #firstlink {
        margin-top: 25%;
    }

    #check:checked~.navbar1 a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }
}

@media (max-width: 350px){ 
    .site-title {
        font-size: 18px !important;
    }

    .navbar-header a {
        font-size: 18px !important;
    }
}

.container-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a5c7e8;
    position: relative; /* Füge relative Position hinzu */
  }

  .container-404 h1 {
    font-size: 6em;
    margin: 0;
    animation: pulse 2s ease-in-out infinite;
    position: relative; /* Füge relative Position hinzu */
    z-index: 1; /* Stelle sicher, dass der Text vor dem Bild angezeigt wird */
  }

  /* @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  } */

  .container-404 p {
    font-size: 1.5em;
    margin: 0;
    color: black;
    margin-top: 20px;
    position: relative; /* Füge relative Position hinzu */
    z-index: 1; /* Stelle sicher, dass der Text vor dem Bild angezeigt wird */
  }

  .container-404 a {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    width: 30%;
    text-align: center;
    font-size: 1.2em;
    animation: bounce 1s ease-in-out infinite;
    position: relative; /* Füge relative Position hinzu */
    z-index: 1; /* Stelle sicher, dass der Text vor dem Bild angezeigt wird */
  }

  /* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  } */

  .container-404 img {
    position: absolute; /* Füge absolute Position hinzu */
    top: 0;
    left: 0;
    height: 80%;
    object-fit: cover;
    z-index: 0; /* Stelle sicher, dass das Bild hinter dem Text liegt */
  }

  @media (max-width: 768px) {
    .container-404 h1 {
      font-size: 4em;
    }
    .container-404 p {
      font-size: 1em;
    }

    .container-404 img {
        height: 40%;
      }
    
  }

  @media (max-width: 576px) {
    .container-404 h1 {
      font-size: 3em;
    }
    .container-404 p {
      font-size: 0.8em;
    }
    .container-404 a {
      font-size: 1em;
    }
  }